asgiref==3.5.0
backports.zoneinfo==0.2.1
Django==4.0.2
numpy==1.22.2
pandas==1.2.4
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
sqlparse==0.4.2
gunicorn==20.1.0
whitenoise==6.0.0
psycopg2==2.9.3
yfinance==0.1.67
django_compressor==3.1
django-libsass==0.9
numerize==0.12
sqlalchemy==1.4.36
