
/* ---- particles.js container ---- */

html {
  scroll-behavior: smooth;
 }

canvas {
  display: block;
  vertical-align: bottom;
}


#particles-js {
  position: absolute;
  width: 100%;
  height: 40%;
}

.jumbotron {

}


.container-moat {
    height: 350px;
}

.container-about {
    height: 225px;
}
