{% load static %}


<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% load compress %}
        {% compress css %}
        <link type="text/x-scss" href="{% static 'bootstrap/bootstrap.scss' %}" rel="stylesheet" media="screen">
        <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet">
        {% endcompress %}

        <script src="https://kit.fontawesome.com/23a092dfca.js" crossorigin="anonymous"></script>
        
        <title>

		</title>
	</head>
	<body>
			<!-- HEADER -->
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  			<a class="navbar-brand" href="#">
	  				<img src="{% static 'img/logo-transparent-medium.png' %}"width="60">
	  				<span class="#">Metrixx Labs</span>
	  			</a>
	  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	   				<span class="navbar-toggler-icon"></span>
	  			</button>
	  			<div class="collapse navbar-collapse" id="navbarNav">
	    			<ul class="navbar-nav">
	      				<li class="nav-item active">
	        				<a class="nav-link" href="">Home<span class="sr-only">(current)</span></a>
	      				</li>
	      				<li class="nav-item">
	       		 			<a class="nav-link" href="#projects">Projects</a>
	      				</li>
	      				<li class="nav-item">
	        				<a class="nav-link" href="#">About</a>
	      				</li>
	    			</ul>
	  			</div>
			</nav>

		<!-- JUMBOTRON -->
        <div id="particles-js"></div>

        <div class="jumbotron">
		    <h1 class="display-5">Welcome to Metrixx Labs!</h1>
		    <p class="lead">Metrixx Labs is a collection of OSINT projects</p>
		    <hr class="my-2">
		    <p>Read more about our latest and upcoming projects.</p>
            <a class="btn btn-primary btn-sm" href="#projects">Read more</a>
        </div>


		<!-- TABLE -->
		<div class="container">
			<h2>ROIC Lookup</h2>
			<p>Have a look at the Return On Invested Capital for the last four years of a NASDAQ listed company</p>
			<form action="#" method="post">
				{% csrf_token %}
				<div class="input-group mb-3">
			  		<div class="input-group-prepend">
			    		<span class="input-group-text" id="inputGroup-sizing-default">Ticker Symbol</span>
			  		</div>
			  			<input type="text" class="form-control" name="ticker" maxlength="5" required>
			  			<button class="btn btn-primary" type="submit">Submit</button>
					</div>
				</form>
			<table class="table table-striped table-sm">
			  <thead>
			    <tr>
			      <th scope="col">Date</th>
			      <th scope="col">ROIC</th>
			    </tr>
			  </thead>
			  <tbody>
			  	{% for i in data %}
			    <tr>
			      	<td>{{i.Dates}}</td>
			      	<td>{{i.Values}}</td>
			    </tr>
			    {% endfor %}
			  </tbody>
			</table>
		</div>

    <!-- PROJECTS -->
    <div id="projects">
        <div class="container px-4 py-5">
            <h2 class="pb-2 border-bottom">Projects</h2>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="feature col">
                    <div class="feature-icon">
                        <img src="{% static 'img/moat-logo.png' %}" height="125px" width="125px">
                    </div>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                    <h5>Status:</h5><p>Version 0.1</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="feature col">
                    <div class="feature-icon">
                        <img src="{% static 'img/flow-logo.png' %}" height="125px" width="125px">
                    </div>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                <h5>Status:</h5>
                    <p>Work in Progress</>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="feature col">
                    <div class="feature-icon">
                        <img src="{% static 'img/obsidian-logo.png' %}" width="125px" height="125px">
                    </div>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                    <h5>Status:</h5>
                    <p>Design phase</p>
                    <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-muted">&copy; 2022 Metrixx Labs</p>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/boris-szl">
                        <i class="fa-brands fa-github" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </footer>
    </div>  

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/particles.js' %}"></script>
    <script src="http://www.jsdelivr.com/#!particles.js"></script>
    <script>
        particlesJS.load('particles-js', '{% static 'json/particles.json' %}', function(){
            console.log('particles.json loaded...');
        });
    </script>
	</body>
</html>
